* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #F9F9F9;
    /* color: #363636; */
    /* background-color: #F9F9F9; #F5F5F5 */
}

.person-png, .heart-png, .search-png, .arrows-png {
    position: relative;
    top: 5px;
    margin-left: 3px;
}

/* .special-topBar-wrapper, .normal-topBar-wrapper { */

/* display: contents; */

/* } */

@media only screen and (max-width: 1700px) {
    .top-menu-special-text {
        display: none;
    }
    .top-menu-small-icon {
        margin-right: 25px;
    }
}

@media only screen and (max-width: 1200px) {
    .yad2-logo {
        display: none;
    }
}

.yad2-logo-link {
    display: unset;
}

.top-menu-2-parts-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: outset;
    border-width: 1px;
}

.new-item-button {
    height: 40px;
    width: 193px;
    border-radius: 20px;
    background-color: #0fca80;
    margin: 15px 15px 15px 0;
    line-height: 41px;
    font-weight: 500;
    color: white;
    border: none;
    font-size: 1vw;
    /* border; */
}

.yad2-logo {
    width: 5vw;
    vertical-align: middle;
    max-width: 80px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
}

.top-menu {
    /* text-align: right; */
    background-color: #fff;
    border-top: 5px solid #ff7100;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .2);
}

.normal-topBar-wrapper.sub-menu {
    margin-right: 5vw;
}

ul {
    list-style: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

li {
    padding: 10px;
    list-style-type: none;
    display: inline-block;
    margin-left: 15px;
    font-family: Rubik, sans-serif;
    font-size: 1vw;
    font-weight: 400;
    /* line-height: 70px; */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.6);
    padding-bottom: 10px;
    transition-duration: 0.5s;
}

/* li::before {
    content: "\e95c";
} */

.main-menu {
    --breakpoint-header-medium: $breakpoint;
    --breakpoint-header-small: $breakpoint;
    --breakpoint-header: $breakpoint;
    --breakpoint-desktop: $breakpoint;
    --breakpoint-desktop-navbar: $breakpoint;
    --breakpoint-desktop-small: $breakpoint;
    --breakpoint-desktop-medium: $breakpoint;
    --breakpoint-desktop-large: $breakpoint;
    --breakpoint-desktop-large-gallery-dfp: $breakpoint;
    --breakpoint-desktop-extra-small: $breakpoint;
    --breakpoint-tablet: $breakpoint;
    --breakpoint-mobile: $breakpoint;
    --breakpoint-laptop-height: $breakpoint;
    --breakpoint-laptop-height-medium: $breakpoint;
    --breakpoint-laptop-height-small: $breakpoint;
    --breakpoint-mobile-medium: $breakpoint;
    --breakpoint-mobile-small: $breakpoint;
    --pumpkin-orange: $pumpkin-orange;
    --yad1-blue: $app_yad1_blue;
    --map-agency-marker: $map_agency_marker;
    --vh: 1.86px;
    color: #363636;
    direction: rtl;
    -webkit-tap-highlight-color: transparent;
    text-align: right;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 1vw;
    font: inherit;
    vertical-align: baseline;
    box-sizing: inherit;
    display: flex;
    position: relative;
    z-index: 800;
    height: 70px;
    margin: 0 20px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

li:hover {
    background-color: grey;
    cursor: pointer;
}

/* dropmenu class="dropdown*/

ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    /* right: -480px; */
    transition: all 0.5s ease;
    margin-top: 1rem;
    /* background-color: #F5F5F5; */
    background-color: #FFFFFF;
    background-size: initial;
    /* right: 50px; */
    /* display: none; */
}

/* every li in dropmenu */

ul li:hover>ul, ul li ul:hover {
    visibility: visible;
    opacity: 1;
    /* display: block; */
    /* left:auto;
    right:0;
    margin-right:-50px; */
}

ul li ul li {
    clear: both;
    width: 75%;
}

ul li ul li:hover {
    background-color: white;
}

ul li ul li a:hover {
    color: orange;
}

.dropdown {
    /* left: auto;
    right: 0;
    margin-right: -500px; */
    /* left: 50% !important;
    right: auto !important;
    text-align: center !important; */
    /* transform: translate(-50%, 0) !important; */
    /* float: left;
    overflow: hidden; */
    margin-left: -80px;
    margin-top: 1.5em;
    display: grid;
    box-shadow: 1px 1px 1px 1px #888888;
}

a {
    /* float: right; */
    /* color: black; */
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}

/* .dropbtn {} */

/* ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
} */

.ads {
    margin-top: 50px;
    text-align: center;
}

.yad2Ads {
    background-color: white;
    width: 70vw;
    text-align: center;
    display: inline-block;
}

.sitemap-link {
    background-color: #F9F9F9;
    text-align: right;
    padding-right: 9vw;
}

.top-subMenu-small-icon {
    vertical-align: middle;
}

.top-subMenu-li {
    margin-top: 7px;
    margin-bottom: 7px;
}

.subMenu {
    background-color: white;
}

.sitemap-link-text {
    color: #999;
    font-size: .875rem;
    line-height: 20px;
    /* padding: 8px; */
    padding: 8px 0px 8px 0px;
    margin-left: 10px;
}

.video-tag-404 {
    width: -webkit-fill-available;
}

/*  Search bar   */

.search-bar-div {
    margin-top: 50px;
    text-align: center;
}

.search-bar-input {
    display: block;
}

.search-form {
    width: 70vw;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
}

.search-form li {
    max-width: 10vw;
    margin: 0px;
    text-align: -webkit-right;
}

.search-form input {
    max-width: 75%;
    text-align: center;
    border-radius: 0;
    border-width: 1px;
}

.search-bar-input-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.search-bar-input-double {
    width: 50%;
}

.search-form h3 {
    text-align: right;
    margin-right: 30px;
}

/* dropdown searchbar content */

.searchBarDropDown {
    --vh: 4.53px;
    color: #363636;
    direction: rtl;
    -webkit-tap-highlight-color: transparent;
    text-align: right;
    --number-of-options-to-display: 7;
    --option-height: 40px;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: inherit;
    list-style: none;
    max-height: calc(var(--option-height)*var(--number-of-options-to-display));
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 1px solid #ccc;
}

.searchBarDropDown ul {
    display: block;
}

.searchBarDropDown li {
    display: block;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.search-button {
    background: #ff7100;
    border-width: 0px;
    color: white;
}

.search-button-li {
    background: #ff7100;
}

.advance-search {
    max-width: 75%;
    text-align: center;
    border-radius: 0;
    border-width: 0px;
}

/* search result */

.search-result-wrapper {
    margin: 10vh 0 10vw 0;
    text-align: center;
}

.search-result-header-wrapper {
    /* text-align: right; */
    width: 70vw;
    text-align: center;
    display: inline-block;
}

.search-result-header-name {
    float: right;
}

.search-result-header-counter {
    float: left;
}
.sortBy-wrapper {
    width: 70vw;
    text-align: center;
    display: inline-block;
}
.sort-by-label {
    float: right;
}