* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #F9F9F9;
    /* color: #363636; */
    /* background-color: #F9F9F9; #F5F5F5 */
}

a {
    color: #363636!important;
    font-size: 1rem;
}

.person-png, .heart-png, .search-png, .arrows-png {
    position: relative;
    top: 5px;
    margin-left: 3px;
}

/* .special-topBar-wrapper, .normal-topBar-wrapper { */

/* display: contents; */

/* } */

.special-topBar-wrapper {
    /* justify-content: center; */
    align-items: center;
    display: flex;
}

@media only screen and (max-width: 1700px) {
    .top-menu-special-text {
        display: none;
    }
    .top-menu-small-icon {
        margin-right: 25px;
    }
}

@media only screen and (max-width: 1200px) {
    .yad2-logo {
        display: none;
    }
}

.yad2-logo-link {
    display: unset;
}

.top-menu-2-parts-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: outset;
    border-width: 1px;
}

.new-item-button {
    height: 40px;
    width: 193px;
    border-radius: 20px;
    background-color: #0fca80;
    margin: 15px 15px 15px 0;
    line-height: 41px;
    font-weight: 500;
    color: white;
    border: none;
    font-size: 1vw;
    /* border; */
}

.yad2-logo {
    width: 5vw;
    vertical-align: middle;
    max-width: 80px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
}

.top-menu {
    /* text-align: right; */
    background-color: #fff;
    border-top: 5px solid #ff7100;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .2);
}

.normal-topBar-wrapper.sub-menu {
    margin-right: 5vw;
}

.subMenu li {
    color: #363636!important;
    font-size: 1rem;
}

ul {
    list-style: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

li {
    padding: 10px;
    list-style-type: none;
    display: inline-block;
    margin-left: 15px;
    font-family: Rubik, sans-serif;
    font-size: 1vw;
    font-weight: 400;
    /* line-height: 70px; */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.6);
    padding-bottom: 10px;
    transition-duration: 0.5s;
}

/* li::before {
    content: "\e95c";
} */

.main-menu {
    --breakpoint-header-medium: $breakpoint;
    --breakpoint-header-small: $breakpoint;
    --breakpoint-header: $breakpoint;
    --breakpoint-desktop: $breakpoint;
    --breakpoint-desktop-navbar: $breakpoint;
    --breakpoint-desktop-small: $breakpoint;
    --breakpoint-desktop-medium: $breakpoint;
    --breakpoint-desktop-large: $breakpoint;
    --breakpoint-desktop-large-gallery-dfp: $breakpoint;
    --breakpoint-desktop-extra-small: $breakpoint;
    --breakpoint-tablet: $breakpoint;
    --breakpoint-mobile: $breakpoint;
    --breakpoint-laptop-height: $breakpoint;
    --breakpoint-laptop-height-medium: $breakpoint;
    --breakpoint-laptop-height-small: $breakpoint;
    --breakpoint-mobile-medium: $breakpoint;
    --breakpoint-mobile-small: $breakpoint;
    --pumpkin-orange: $pumpkin-orange;
    --yad1-blue: $app_yad1_blue;
    --map-agency-marker: $map_agency_marker;
    --vh: 1.86px;
    color: #363636;
    direction: rtl;
    -webkit-tap-highlight-color: transparent;
    text-align: right;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 1vw;
    font: inherit;
    vertical-align: baseline;
    box-sizing: inherit;
    display: flex;
    position: relative;
    z-index: 800;
    height: 70px;
    margin: 0 20px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

li:hover {
    background-color: grey;
    cursor: pointer;
}

/* dropmenu class="dropdown*/

ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    /* right: -480px; */
    transition: all 0.5s ease;
    margin-top: 1rem;
    /* background-color: #F5F5F5; */
    background-color: #FFFFFF;
    background-size: initial;
    /* right: 50px; */
    /* display: none; */
}

/* every li in dropmenu */

ul li:hover>ul, ul li ul:hover {
    visibility: visible;
    opacity: 1;
    /* display: block; */
    /* left:auto;
    right:0;
    margin-right:-50px; */
}

ul li ul li {
    clear: both;
    width: 75%;
}

ul li ul li:hover {
    background-color: white;
}

ul li ul li a:hover {
    color: orange;
}

.dropdown {
    /* left: auto;
    right: 0;
    margin-right: -500px; */
    /* left: 50% !important;
    right: auto !important;
    text-align: center !important; */
    /* transform: translate(-50%, 0) !important; */
    /* float: left;
    overflow: hidden; */
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .2);
    margin-left: -80px;
    margin-top: 1.5em;
    display: grid;
    /* box-shadow: 1px 1px 1px 1px #888888; */
}

a {
    /* float: right; */
    /* color: black; */
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}

/* .dropbtn {} */

/* ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
} */

.ads {
    margin-top: 50px;
    text-align: center;
}

.yad2Ads {
    background-color: white;
    width: 70vw;
    text-align: center;
    display: inline-block;
}

.sitemap-link {
    background-color: #F9F9F9;
    text-align: right;
    padding-right: 9vw;
}

.top-subMenu-small-icon {
    vertical-align: middle;
}

.top-subMenu-li {
    margin-top: 7px;
    margin-bottom: 7px;
}

.subMenu {
    background-color: white;
}

.sitemap-link-text {
    color: #999;
    font-size: .875rem;
    line-height: 20px;
    /* padding: 8px; */
    padding: 8px 0px 8px 0px;
    margin-left: 10px;
}

.video-tag-404 {
    width: -webkit-fill-available;
}

/*  Search bar   */

.search-bar-div {
    margin-top: 50px;
    text-align: center;
}

.search-bar-input {
    display: block;
    text-align: end;
    font-family: Rubik, sans-serif;
    font-size: .875rem;
    outline: none;
    padding: 10px;
    /* width: 100%; */
    border: 1px solid #ccc;
    border-radius: 1px;
    background-color: #fff;
    height: 40px;
    -webkit-appearance: none;
}

.search-result-with-picture, .search-result-with-price {
    position: relative;
    margin-right: 5px;
    vertical-align: middle;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    border-radius: 2px;
    padding: 0 10px 0 15px;
    cursor: pointer;
    font-size: .875rem;
    line-height: 1.0625rem;
    line-height: 35px;
}

.search-result-sortby-label {
    margin-left: 12px;
    white-space: nowrap;
    align-self: center;
}

.search-result-display-ads-label {
    font-family: Rubik, sans-serif;
    font-size: 1vw;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}

.search-bar-input {
    width: -webkit-fill-available;
}

.search-form {
    width: 70vw;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
}

.search-form li {
    max-width: 10vw;
    margin: 0px;
    text-align: -webkit-right;
}

.search-form .search-bar-input-double {
    width: 50%;
    max-width: max-content;
    font-family: Rubik, sans-serif;
    font-size: .875rem;
    outline: none;
    /* padding: 10px; */
    /* width: 100%; */
    border: 1px solid #ccc;
    border-radius: 1px;
    background-color: #fff;
    height: 40px;
    -webkit-appearance: none;
}

.search-form input {
    /* max-width: 75%; */
    max-width: fit-content;
    text-align: center;
    border-radius: 0;
    border-width: 1px;
}

.search-bar-input-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.search-form h3 {
    text-align: right;
    margin-right: 30px;
}

.search-result-makerModel {
    text-align: right;
}

/* dropdown searchbar content */

.searchBarDropDown {
    --vh: 4.53px;
    color: #363636;
    direction: rtl;
    -webkit-tap-highlight-color: transparent;
    text-align: right;
    --number-of-options-to-display: 7;
    --option-height: 40px;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: inherit;
    list-style: none;
    max-height: calc(var(--option-height)*var(--number-of-options-to-display));
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 1px solid #ccc;
}

.search-columns ul {
    z-index: 10;
}

.searchBarDropDown ul {
    display: block;
}

.searchBarDropDown li {
    display: block;
}

.show {
    display: block;
}

.search-button {
    background: #ff7100;
    border-width: 0px;
    /* text-decoration-color: white; */
    /* color: white; */
    display: block;
    text-align: end;
    font-family: Rubik, sans-serif;
    font-size: .875rem;
    outline: none;
    /* padding: 10px; */
    /* width: 100%; */
    /* border: 1px solid #ccc; */
    border-radius: 1px;
    /* background-color: #fff; */
    /* height: 40px; */
    -webkit-appearance: none;
}

.button-text {
    color: white;
}

.search-button-li {
    background: #ff7100;
}

.advance-search {
    /* max-width: 75%; */
    text-align: center;
    border-radius: 0;
    border-width: 0px;
    font-family: Rubik, sans-serif;
    font-size: .875rem;
    outline: none;
    padding: 10px;
    width: 100%;
    /* border: 1px solid #ccc; */
    border-radius: 1px;
    background-color: #fff;
    height: 40px;
    -webkit-appearance: none;
    background-color: #eee;
}

.search-button {
    color: white;
}

/* search result */

.search-result-wrapper {
    /* margin: 10vh 0 10vw 0; */
    /* text-align: center; */
    margin: 10vh 15vw 10vw 15vw;
    width: 50vw;
    text-align: center;
    display: inline-block;
    float: right;
    margin-top: 100px;
}

.search-result-header-wrapper {
    /* text-align: right; */
    /* width: 70vw;
    text-align: center;
    display: inline-block; */
}

.search-result-header-name {
    float: right;
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 400;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-family: Rubik, sans-serif;
    color: #363636;
}

.search-result-header-counter {
    float: left;
    font-size: .875rem;
    line-height: 1.0625rem;
    line-height: 1.75rem;
    color: #999;
    font-family: Rubik, sans-serif;
}

.sortBy-wrapper {
    /* width: 70vw;
    text-align: center; */
    /* display: inline-block; */
}

.sort-by-label {
    float: right;
}

.searchBarDropDown.sortBy {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: white;
    overflow: hidden;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .2);
    max-width: fit-content;
}

.sortByLi {
    position: relative;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
}

.feed-options {
    width: 50vw;
    text-align: center;
    /* display: inline-block; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 40px;
}

.filter-search-buttons {
    /* float: left; */
    align-self: flex-end;
}

.search-result-table {
    /* width: 37vw; */
    width: 50vw;
    float: right;
    text-align: center;
    /* display: inline-block; */
    background: #FDF9C5;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    max-height: 85px;
    margin-bottom: 5px;
    border-color: rgb(226, 224, 177, 0.5);
    border-style: groove;
    border-width: 1px;
}

.search-result-right-part {
    display: inline;
    overflow: hidden;
    white-space: nowrap;
    height: 85px;
    width: 100%;
    border-left: 1px solid rgba(0, 0, 0, .1);
    margin-top: 5px;
    max-width: 358px;
}

.search-result-middle-part {
    justify-content: space-around;
    height: 85px;
    max-width: 186px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    border-left: 1px solid rgba(0, 0, 0, .1);
    padding: 20px;
}

.search-result-left-part {
    /* padding: 10px 20px 10px 20px; */
    /* padding: 0 5px 0 0; */
    justify-content: start;
    position: relative;
    /* max-width: calc(100% - 531px); */
    float: left;
    display: flex;
    align-items: flex-end;
    text-align: left;
    flex-direction: column;
    max-width: calc(100% - 531px);
}

.hover-text {
    /* display: none; */
    font-size: .75rem;
    line-height: 1.25rem;
    vertical-align: bottom;
}

.search-result-key-value {
    display: table;
}

.expendable-table {
    display: table;
}

.search-result-table, .expendable-table {
    background: white;
}

.search-result-table-expendable-table-size_1_3 {
    /* background-color: #eee;
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 16.6vw; */
    background-color: #eee;
    position: relative;
    overflow: hidden;
    display: table-cell;
    width: 16.6vw;
    /* width: 200px;
    padding: 0 5px 10px; */
}

.search-result-new-tab {
    width: 100%;
}

.search-result-year-desc, .search-result-hand-desc, .search-result-cc-desc {
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.search-result-year, .search-result-hand, .search-result-cc {
    float: left;
}

.search-result-image-wrapper {
    height: inherit;
    display: inline;
}

.search-result-image {
    display: inline;
    max-width: 75%;
    max-height: 75%;
    margin-top: 1%;
    float: right;
    margin-right: 10px;
    border-radius: 3px;
}

.search-result-car-name-and-title {
    display: inline;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

.search-result-makerModel {
    display: block;
}

.search-result-data {
    font-family: Rubik, sans-serif;
}

/* .new-tab {} */

/* login page */

.login-wrapper {
    width: 70vw;
    text-align: center;
    display: inline-block;
    margin: 10vh 20vw 10vh 20vw;
}

.login-header {
    display: flow-root;
}

.login-title {
    float: right;
    /* display: inline-block; */
    font-size: 38px;
    font-weight: bold;
    color: #000000;
    margin-right: 2px;
    font-family: "FbSpoiler";
    vertical-align: bottom;
    margin-top: 8.5vh;
}

.login-logo {
    float: right;
}

.personal-information {
    float: left;
    margin-top: 8.5vh;
}

.logout {
    display: inline;
}

.nav {
    font-size: 12px;
    font-family: arial;
    color: #000;
    direction: rtl;
    margin: 0 auto;
    background-color: #ff7700;
    padding: 10px 0;
}

.nav-list {
    float: right;
}

/* personal area */

.login-form-wrapper {
    /* background: url("https://my.yad2.co.il/images/myYad2Secure/registration/login_corner_background.png"); */
    max-width: 30%;
    margin-left: 67%;
}

.login-background {
    background: url("https://my.yad2.co.il/images/myYad2Secure/registration/login_corner_background.png");
    padding: 30px 0px 200px;
}

.login-form {
    background: linear-gradient(#EFAA48, #E56122);
    border-radius: 3px;
    padding: 10px;
}

.login-form input {
    display: block;
}

/* personal area */

[class^="personal-area"] {
    display: block;
}

.personal-all-input-wrapper {
    display: flex;
    flex-wrap: wrap;
}

/* expend searchResult tab */

.search-result-table.expend {
    margin-bottom: 0px;
}

.expend .search-result-middle-part, .expend .search-result-right-part {
    border-width: 0px;
}

.expend {
    height: 10vw;
    max-height: 138px;
}

.expend .search-result-right-part {
    height: unset;
    position: relative;
}

.expend .search-result-image {
    max-height: 93%;
}

.search-result-special-middle-part {
    display: none;
}

.expend .search-result-special-middle-part {
    /* display: unset;
    position: absolute;
    bottom: 0px;
    left: 0px; */
    display: flex;
    float: right;
}

.search-result-year-wrapper {
    display: flex;
    flex-direction: column;
}

.search-result-hand-wrapper {
    display: flex;
    flex-direction: column;
}

.search-result-cc-wrapper {
    display: flex;
    flex-direction: column;
}

.search-result-right-part.expend {
    max-width: 500px;
}

.search-result-left-part.expend {
    max-width: calc(100% - 500px)!important;
}

.search-result-special-middle-part {
    width: 100%;
    height: 100%;
    padding-right: 0px;
    max-width: 186px;
}

/* button call */

.search-result-contact-seller-button {
    padding: 0;
    height: 25%;
    width: 80%;
    background-color: #0fca80;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 2px;
    padding: 0px 30px 0px 30px;
    border-width: 0px;
    font-family: Rubik, Arial, sans-serif;
    font-weight: bold;
    margin: 35px 10% 15px 10%;
    /* font-size: 14px;
    font-weight: 500;
    font-stretch: 100%; */
    white-space: nowrap;
    margin: 35px 0 15px 30px;
    /* margin-left: 30px; */
    /* margin-bottom: 15px; */
}

.search-result-table-expendable-table-size_2_3 {
    background: #FFFFFF;
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-stretch: 100%;
    font-weight: 400;
    /* height: auto; */
    line-height: 35px;
}

.search-result-field {
    font-weight: 500;
    color: #363636;
    font-size: .875rem;
    line-height: 1.0625rem;
    font-weight: bold;
    margin-right: 15px;
}

.search-result-sellArea {
    border-bottom: 1px solid;
    border-color: #C6C6B7;
    margin-left: 25px;
    margin-right: 25px;
    text-align: right;
}

.search-result-free-text {
    display: block;
    text-align: right;
    margin-right: 50px;
}

.search-result-free-text-header {
    display: block;
    font-weight: bold;
}

.search-result-other-detils {
    text-align: right;
}

.search-result-other-detils tr {
    float: right;
    background: white;
    margin-right: 50px;
}

.search-result-other-detils-right-colunm {
    margin-right: 70px;
}

.fi-phone {
    padding-left: 10px;
}

.hidden {
    display: none;
}

/* login */

.disability {
    display: inline-grid;
    background: white;
    border: 1px solid;
}

[class^="personal-area"] {
    flex: 1 1 25%;
}